<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top nav-wrapper">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img class = "droneimg" src="https://tse3.mm.bing.net/th?id=OIP.gwLsEG011WFJDsBYZJebpgHaHa&pid=Api&P=0&w=300&h=300" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link linkspace " href="#" >Admin Mode
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkspace" href="#">ATO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkspace" href="#">Scenario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkspace" href="#">Mission Planner Mode</a>
        </li>

        <li class="nav-item">
          <a class="nav-link linkspace" routerLink = '/live'>Live Mission Mode</a>
        </li>


        <li class="nav-item">
          <a class="nav-link linkspace" href="#">Archival and Analysis Mode</a>
        </li>

        <li class="nav-item">
          <a class="nav-link linkspace" href="#">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--
<div class="container">
  <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
  <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
</div>
 -->






 <!-- <ac-map>
    <ac-layer acFor="let plane of planes$" [store]="true" [context]="this">
      <ac-billboard-desc props="{
                  image: plane.image,
                  position: plane.position
                }">
        </ac-billboard-desc>
        <ac-label-desc props="{
                position: plane.position,
                text: plane.name
        }">
        </ac-label-desc>
    </ac-layer>
  </ac-map>-->


<ac-map>
    <div class="container main-wrapper">
        <div class = "container formcontainer-wrapper ">
          <form class= "form-wrapper">
            <div class="form-group">
            <input class="form-control form-itself" type="text" placeholder="Search Google Maps">
            <input class="form-control form-itself" type = "text" placeholder="See traffic , maps">
          </div>
          </form>
        </div>

       </div>
    <app-plane-component></app-plane-component>
</ac-map>


