
<div class="container-fluid Main-wrapper">
  <div class="row">
          <div class="col-sm col2-wrapper">
              <div class="col-sm firstsection">
                  <label class="label1"><b style="color: brown">ATO</b></label>
                  <select class="select1" ></select>
                  <label class="label2"><b style="color: brown">Mission</b></label>
                  <select class="select2"></select>
              </div>
              <div class="col-sm second-section">
                  <label class="label3"><b style="color: brown">Date time</b></label>
                  <select class="select3"></select>
                  <label class="label4"><b style="color: brown">Task</b></label>
                  <select class="select4"></select>
              </div>

          </div>

      <div class="col-sm col1-wrapper">
          <div class="container">

                  <button class="btn btn-primary button-wrapper"> Coordinates of Human Detection</button>
                  <button class="btn btn-primary button-wrapper"> Telemetry Data Display</button>
                  <button class="btn btn-primary button-wrapper"> Change Detection</button>

                 <button class="btn btn-primary button-wrapper">Coordinates of Feature Detection</button>
                 <button class="btn btn-primary button-wrapper">Drone Status Display</button>
                 <button class="btn btn-primary button-wrapper">Suspected Movement</button>
          </div>


      </div>
  </div>
  </div>



 <!--     <div class="row">
          <div class="col-md leftcontent">
          </div>
          <div class="col-md rightcontent"></div>
      </div>-->

 <!-- <div class="leftcontent-div">

  </div>

  <div class="rightcontent-div">
          <div class="row">
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="https://r5---sn-cvh76nes.googlevideo.com/videoplayback?expire=1568829955&ei=ox2CXafMMISywQH8qJ6IDA&ip=154.16.100.123&id=o-AIBlWiYvH4F9bpzSSlRWgZsTArPTTzH1kPw4GKyWgWnY&itag=18&source=youtube&requiressl=yes&pcm2=yes&mime=video%2Fmp4&gir=yes&clen=12442826&ratebypass=yes&dur=269.142&lmt=1566922348464053&fvip=5&c=WEB&txp=4531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cpcm2%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIgSN6rrMrIzy44rx18zDn6wJT6TWk0tTbpTNITT7k_U9gCIQCXEuumQOuI5zSAtEuTmFyirdzmK-SQljMMA0HXj6VZyA==&title=Arijit%20Singh:%20Pachtaoge%20%7C%20Vicky%20Kaushal,%20Nora%20Fatehi%20%7CJaani,%20B%20Praak,%20Arvindr%20Khaira%20%7C%20Bhushan%20Kumar&cms_redirect=yes&mip=14.98.139.234&mm=31&mn=sn-cvh76nes&ms=au&mt=1568812774&mv=u&mvi=4&pl=24&lsparams=mip,mm,mn,ms,mv,mvi,pl&lsig=AHylml4wRgIhAMTy7bO4cDT5dNeA5BYasFeTykcQCQ_X7JjK72T0U3Z1AiEAgK8M0-mbj4NmmmJ2VP9XZQEzSxNqyGEPy8BuJQUZU68=" type="video/mp4">

                            Your browser does not support the video tag.
                            </video>
              </div>
              <div class="col-md">
                      <video width="700 " height="340" controls>
                              <source src="https://www.youtube.com/watch?v=PVxc5mIHVuQ" type="video/mp4">

                            Your browser does not support the video tag.
                            </video>
              </div>
          </div>
          <div class="row">
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>
              </div>
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>
              </div>
          </div>

  </div>-->

<div class="container-fluid side-container">
  <div class="row">
    <div class="col-lg-2">
      <div class="col-md-2">
        <p>this is the analysis div</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid grid-container">
  <div class="row firstrow justify-content-around">
    <div class="col-lg-5">
      <div class="col-md-5 ">
        <div id="mapId" style="width:680px ; height: 340px"></div>
      </div>
    </div>
      <div class="col-lg-5">
        <div class="col-md-5  ">

            <video width="680" height="340" controls>
              <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>
        </div>
      </div>
  </div>
  <div class="row secondrow justify-content-around">
    <div class="col-lg-5">
      <div class="col-md-5 ">
          <video width="680" height="340" controls>
              <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="col-md-5">
        <!--  <video width="680" height="340" controls>
              <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>-->
            <div  style="width: 700px ; height: 340px">
              <img src="http://192.168.1.36:8000/media/photos/2019/09/20/airplane.png" >
            </div>

      </div>
    </div>
  </div>
</div>
